$namespace: 'ui';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:export {
  $namespace: $namespace;
  $element-separator: $element-separator;
  $modifier-separator: $modifier-separator;
  $state-prefix: $state-prefix;
}
