.app-wrapper {
  @include clearfix;

  position: relative;
  width: 100%;
  height: 100%;
  .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    header {
      &.fixed-header {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
        width: 100%;
        & + main {
          padding-top: $headerHeight;
        }
      }
    }
    > main {
      position: relative;
      flex: 1 0 auto;
      width: 100%;
      overflow-x: hidden;
    }
  }
}
